@media (min-width: 450px) {
	#footer-contact .footer-info .footer-address > div {
	width: 100% !important;
	}
}

@media (min-width: 768px) {
	#footer-first-contact #footer-contact, #footer-first-contact #footer-state-seal {
	float: right;
	width: 50%;
	}
}

@media (min-width: 400px) {
	#footer-contact .footer-info .footer-address {
    width: 100% !important;
	}
}

@media (min-width: 992px), all {
	.col-md-9 {
	width: 74%;
	}	
}


#content-wrapper {
	box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.5);
	margin: 20px auto !important;
}

#breadcrumb {
    background-color: #dcd2c3 !important;
}

#breadcrumb ul.breadcrumb a.active,
.breadcrumb > li + li:before {
    color: #292929 !important;
}

div#block-mbp-defaults-mbp-12 {
    margin-top: 30px;
}

.meeting-description {
	padding: 0 20px;
	margin-top: 45px;
	margin-bottom: 45px;
}

#footer-contact {
	background: none !important;
	margin: 15px 0 !important;
}

#footer-contact .footer-info .footer-address {
	box-shadow: none !important; 
	background: none !important;
	text-align: right;
}

#footer-contact .footer-info .footer-phone-group {
	margin-top: 0px !important;
}

#footer-contact .footer-info .footer-address .footer-agency {
	font-weight: bold;
	font-size: 24px !important;
}

#footer-contact .footer-field {
	color: #fff !important;
}

#footer-contact .footer-info .footer-field {
	border: none !important;
	padding: 3px 0;
	font-size: 18px !important;
}